/* QBertNavigation.css */
.qbert-canvas {
  width: 100%;
  height: 400px;
  background-color: transparent;
  display: block;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

.qbert-nav-container {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}